
# Created by https://www.gitignore.io/api/code,jupyternotebooks
# Edit at https://www.gitignore.io/?templates=code,jupyternotebooks

### Code ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### JupyterNotebooks ###
# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/
#

# End of https://www.gitignore.io/api/code,jupyternotebooks